.Header {
  top: 0;
  z-index: 1;
  display: flex;
  position: sticky;
  align-items: center;
  background: var(--inverted-color);

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-inline: auto;
    max-width: var(--max-width);
    padding-inline: var(--padding-inline);
    justify-content: space-between;
  }

  &__logo-img {
    color: var(--accent-color);
    width: 71px;
    height: 24px;

    @media (min-width: 1247px) {
      width: 104px;
      height: 35px;
    }
  }

  &__nav {
    .line--1,
    .line--3 {
      --total-length: 126.64183044433594;
    }
    .line--2 {
      --total-length: 70;
    }
  
    .line--1,
    .line--2,
    .line--3 {
      --length: 24;
      --offset: -38;
      fill: none;
      stroke: var(--main-color);
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: var(--length) var(--total-length);
      stroke-dashoffset: var(--offset);
      transition: all .8s cubic-bezier(.645, .045, .355, 1);
    }

    &-opener {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      opacity: 0;
      position: absolute;
    }

    &-opener-icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 767px) {
        display: none;
      }

      svg {
        min-width: 50px;
        min-height: 50px;
      }
    }
    
    &-opener:checked + &-opener-icon {
      .line--1,
      .line--3 {
        --length: 22.627416998;
        --offset: -94.1149185097;
      }
      .line--2 {
        --length: 0;
        --offset: -50;
      }
    }
    
    &-opener:checked ~ &-list {
      @media (max-width: 768px) {
        display: flex;
        position: fixed;
        background: var(--inverted-color);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        top: var(--header-height);
        flex-direction: column;
        align-items: center;
        padding: var(--padding-inline);
      }
    }

    &-list {
      --secondary-color: var(--main-color);
      margin: 0;
      padding: 0;
      gap: 30px;
      font-size: 18px;
      line-height: 22px;
      list-style: none;
      display: none;

      @media (min-width: 767px) {
        display: flex;
      }
    }
  }
}

.NavItem {
  &__nav-link {
    --icon-color: currentColor;

    &:hover {
      --icon-color: initial;
      opacity: 1;
      background-image: linear-gradient(45deg, #f3ec78, #af4261);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
