@import-normalize;

:root {
  --header-height: 80px;
  --footer-height: 127px;

  @media (max-width: 768px) {
    --header-height: 48px;
  }
}

body {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
